html,body{
    height:100%;
    position: relative;
    background-color:#FFFCF4;
}

.navbar{
    padding-left: 50px;
    padding-top:20px;
    display:flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 800px ;
    font-size: 15px;
    column-gap:10px;
}


.king{
    position: absolute;
    top:100px;
    right:100px;
}


.star{
    position: absolute;
    top:130px;
    left:40px;
}

.freddietext{
    position: absolute;
    top:280px;
    left:120px;
}

.bio{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    top:400px;
    left:120px;
}

.fredpicture{
    position: absolute;
    background-color:#222222;
    width:500px;
    height:470px;
    right:100px;
    top:130px;
}

.fotofred{
    position: absolute;
    right:200px;
    top:200px;

}
.blur{
    position: absolute;
    right:90px;
    top:130px;
}

.buletmerah{
    position:absolute;
    bottom:0px;
    right:300px;
}

.buletkuning{
    position:absolute;
    left:240px;
    top:160px;
}

.buletsetengah{
    position:absolute;
    top:0px;
    right:100px;
}
.quote{
    font-family: 'Arial', sans-serif;
    padding-top:80px;
    padding-left:120px;
}

.credits{
    position:absolute;
    font-family: 'Poppins', sans-serif;
    bottom:20px;
    right:120px;
    font-size:12px;
}